@model IRO_UNMO.App.ViewModels.PartnersVM
@{
    ViewData["Title"] = "";
    Layout = "AdminLayout";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
    <script type="text/javascript" src="~/dist/components/modal.js"></script>
    <style>
        .ui.celled.table {
            width: 650px;
        }
    </style>
</head>
<body>
    <h2 class="ui header">Dzemal Bijedic University partners</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var x in Model.Universities)
        {
            <tbody>
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Code</td>
                    <td>@x.Country.Name</td>
                    <td>
                        <a asp-area="admin" asp-controller="partners" asp-action="partner" asp-route-id="@x.UniversityId" class="ui basic primary button"><i class="eye"></i>Edit</a>
                        @*<a asp-action="dpartner" asp-controller="admin" asp-route-id="@x.UniversityId" class="ui basic red button"><i class="eye"></i>Delete</a>*@
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <a asp-controller="partners" asp-action="partner" class="ui basic green button">Add</a>
</body>

<script>
    $('.ui.modal')
        .modal('show');
</script>