@model IRO_UNMO.App.ViewModels.ProfileVM
@using Microsoft.AspNetCore.Identity;
@{

}
<h2>Basic profile details</h2>
<head>
    <environment include="Production">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </environment>
</head>
<body>
    @Html.HiddenFor(x => x.Applicant.ApplicantId)
    @if (Model.Applicant.UniversityId != 1)
    {
        <div class="container emp-profile">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <p></p>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Full name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Phone number</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Citizenship</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Country.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>University</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Applicant.University.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Study cycle</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.StudyCycle</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Study field</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.StudyField</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Account created</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.CreatedProfile</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Account verified</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.Verified.ToString()</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="border: 2px solid red; border-style:dotted">
                                            Account verification means nomination which is a document made through email communication
                                            from your home coordinator who confirms that the student/staff was
                                            selected by your institution to carry out a study/teaching/training
                                            period at UNMO. Your home university needs to send us candidates’
                                            data (name, surname, study field, study cycle, email, and preferably
                                            learning/mobility agreement) by given deadlines.
                                        </label>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="border: 2px solid red; border-style:dotted">
                                            Students whose nomination is approved by both home and
                                            host university will receive an email with clear instruction
                                            regarding the online application (below), required documents, deadlines and temporary
                                            residence.
                                        </label>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="border: 2px solid red; border-style:dotted">
                                            The students will have one month to complete the necessary
                                            procedures to be registered at UNMO.
                                        </label>
                                    </div>
                                </div>
                                <p></p>
                                @if (Model.Applicant.Verified == true && Model.Application != null)
                                {
                                    <label>Current active application</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Last change: @Model.Application.LastEdited</p>
                                            <a asp-action="edit" asp-controller="application" asp-route-id="@Model.Application.ApplicationId" class="ui basic black button"><i class="fas fa-search icons-margin-right"></i>Edit application</a>
                                            <p></p>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a asp-action="docs" asp-controller="application" asp-route-id="@Model.Application.ApplicationId" class="ui basic black button">Edit documents</a>
                                                </div>
                                            </div>
                                            <p></p>
                                            @if (Model.Application.Contacts.CountryId != null)
                                            {
                                                <a asp-action="view" asp-controller="application" asp-route-id="@Model.Application.ApplicationId" class="ui basic green button">View complete application</a>
                                            }
                                            else
                                            {
                                                <a asp-action="view" asp-controller="application" asp-route-id="@Model.Application.ApplicationId" class="ui basic green disabled button">View complete application</a>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (Model.Applicant.Verified == true && Model.Application == null)
        {
            <a asp-action="CreateNewApp" asp-controller="application" asp-route-id="@Model.Applicant.ApplicationUser.Id" class="btn btn-success font-sizes">Create new application</a>
        }
        else if (Model.Applicant.Verified == false && Model.Application != null)
        {
            <a asp-action="CreateNewApp" asp-controller="application" asp-route-id="@Model.Applicant.ApplicationUser.Id" class="btn btn-success font-sizes disabled">Create new application</a>
        }
    }
    else
    {
        <div class="container emp-profile">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <p></p>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Full name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Phone number</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Citizenship</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.ApplicationUser.Country.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Faculty</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Applicant.FacultyName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>University</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.University.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Student/staff</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.TypeOfApplication</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Account created</label>
                                    </div>
                                    <div class="col-md-4">
                                        <p>@Model.Applicant.CreatedProfile</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>New messages</label>
                                    </div>
                                    <div class="col-md-4">
                                        @*<p>@Model.Nominations.LastOrDefault().Comments.CommentTime.ToShortDateString()</p>*@
                                        TO DO !!! TO DO
                                    </div>
                                </div>
                                <p></p>
                                <p></p>
                                <p></p>
                                <label>Current active nominations</label>
                                @if (Model.Nominations.Count != 0)
                                {
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>University</th>
                                                <th>Last change</th>
                                                <th>Status</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                            </tr>
                                            @foreach (var x in Model.Nominations)
                                            {
                                                <tr>
                                                    <td>@x.University.Name</td>
                                                    <td>@x.LastEdited</td>
                                                    <td>@x.StatusOfNomination NONE</td>
                                                    <td>
                                                        <a asp-action="view" asp-controller="nomination" asp-route-id="@x.NominationId" class="btn btn-warning font-sizes"><i class="fas fa-search icons-margin-right"></i>View</a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="edit" asp-controller="nomination" asp-route-id="@x.NominationId" class="btn btn-info font-sizes"><i class="fas fa-search icons-margin-right"></i>Edit</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (Model.Nominations.Count < 3)
        {
            <a asp-action="CreateNewNom" asp-controller="Nomination" asp-route-id="@Model.Applicant.ApplicationUser.Id" class="btn btn-success font-sizes">Create new nomination (max 3)</a>
        }
    }
</body>