@model IRO_UNMO.App.ViewModels.UsersVM
@{
    Layout = "BasicLayout";
    string errorMessage = (string)TempData["errorMessage"];
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>

    <style>
        .ui.compact.segment {
            background-color: #dedede;
        }
    </style>


</head>
<body>
    @if (errorMessage != null)
    {
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Warning!
            </div>
            <p>
                @errorMessage
            </p>
        </div>
    }
    <form id="registration" asp-controller="account" asp-action="incoming" method="post">
        <p></p>
        <div class="ui compact segment">
            <h3 class="ui green dividing header"><i class="sign in alternate icon"></i>Registration for incoming applicant at UNMO</h3>
            <div class="fields">
                <div class="ui small equal width form">
                    <div class="fields">
                        <div class="field">
                            <label>First name</label>
                            <small class="name-error-message"></small>
                            <input name="name" asp-for="@Model.Name" type="text" autocomplete="off" />
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <small class="surname-error-message"></small>
                            <input name="surname" asp-for="@Model.Surname" type="text" autocomplete="off" />
                        </div>
                        <div class="field">
                            <label asp-for="@Model.TypeOfApplication">Applicant type</label>
                            <small class="type-error-message"></small>
                            @Html.DropDownListFor(model => model.TypeOfApplication, Model.TypesOfApplicant, new { required = "required", @class = "ui selection dropdown" })
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Phone number</label>
                            <small class="mobile-error-message"></small>
                            <input name="mobile" asp-for="@Model.PhoneNumber" type="text" autocomplete="off" />
                        </div>
                        <div class="field">
                            <label>E-mail</label>
                            <small class="email-error-message"></small>
                            <input name="email" asp-for="@Model.Email" type="text" autocomplete="off" />
                        </div>
                        <div class="field">
                            <label asp-for="@Model.CountryId">Nationality</label>
                            <small class="nationality-error-message"></small>
                            @Html.DropDownListFor(model => model.CountryId, Model.Countries, new { @Name = "nationality", required = "required", @class = "ui selection dropdown" })
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label asp-for="@Model.StudyField">Study field</label>
                            <small class="studyfield-error-message"></small>
                            <input name="studyfield" asp-for="@Model.StudyField" type="text" autocomplete="off" />
                        </div>
                        <div class="field">
                            <label asp-for="@Model.StudyCycle">Study cycle</label>
                            <small class="studycycle-error-message"></small>
                            @Html.DropDownListFor(model => model.StudyCycle, Model.StudyCycles, new { required = "required", @class = "ui selection dropdown" })
                        </div>
                        <div class="field">
                            <label asp-for="@Model.UniversityId">University</label>
                            <small class="uni-error-message"></small>
                            @Html.DropDownListFor(model => model.UniversityId, Model.Universities, new { required = "required", @class = "ui selection dropdown" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <button type="submit" class="ui primary button">Register</button>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/Validacija/prijava.js"></script>
    <script>
        $('.message .close')
            .on('click', function () {
                $(this).closest('.message').transition('fade');
            });
    </script>
</body>