@using IRO_UNMO.App.ViewModels
@model IRO_UNMO.App.ViewModels.ViewAppVM
@using Microsoft.AspNetCore.Identity;
@{

}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
    @Html.HiddenFor(x => x.Applicant.ApplicantId)
    <div class="ui container">
        <h2 class="ui header">
            Application for the Dzemal Bijedic University
            <div class="sub header">Started: @Model.Application.CreatedApp</div>
            <div class="sub header">Status: @Model.Application.StatusOfApplication</div>
        </h2>
        <div class="content">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="five wide column">Full name</td>
                        <td>@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</td>
                    </tr>
                    <tr>
                        <td>Account created</td>
                        <td>@Model.Applicant.CreatedProfile</td>
                    </tr>
                    <tr>
                        <td>Account verification</td>
                        <td>@Model.Applicant.Verified</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                    <tr>
                        <td class="five wide column">Gender</td>
                        <td>@Model.Application.Infos.Gender</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>@Model.Application.Infos.DateOfBirth.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Place of birth</td>
                        <td>@Model.Application.Infos.PlaceOfBirth</td>
                    </tr>
                    <tr>
                        <td>Citizenship</td>
                        <td>@Model.Application.Infos.Citizenship.Name</td>
                    </tr>
                    <tr>
                        <td>Passport number</td>
                        <td>@Model.Application.Infos.PassportNumber</td>
                    </tr>
                    <tr>
                        <td>Passport issue date</td>
                        <td>@Model.Application.Infos.PassportIssueDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Passport expiry date</td>
                        <td>@Model.Application.Infos.PassportExpiryDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td class="five wide column">Email</td>
                        <td>
                            <p>@Model.Application.Contacts.Email</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>
                            <p>@Model.Application.Contacts.Telephone</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Street name</td>
                        <td>
                            <p>@Model.Application.Contacts.StreetName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>City, town, village</td>
                        <td>
                            <p>@Model.Application.Contacts.PlaceName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Postal code</td>
                        <td>
                            <p>@Model.Application.Contacts.PostalCode</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Country of residence</td>
                        <td>
                            <p>@Model.Application.Contacts.Country.Name</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="seven wide column">Native language</td>
                        <td>
                            <p>@Model.Application.Languages.Native</p>
                        </td>
                    </tr>
                    <tr>
                        <td>First foreign</td>
                        <td>
                            <p>@Model.Application.Languages.ForeignFirst | @Model.Application.Languages.ForeignFirstProficiency</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Second foreign</td>
                        <td>
                            <p>@Model.Application.Languages.ForeignSecond | @Model.Application.Languages.ForeignSecondProficiency</p>
                        </td>
                    </tr>
                    @if (Model.Application.Languages.ForeignThird != null)
                    {

                        <tr>
                            <td>Third foreign</td>
                            <td>
                                <p>@Model.Application.Languages.ForeignThird | @Model.Application.Languages.ForeignThirdProficiency</p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Number of foreign experiences</td>
                        <td>
                            <p>@Model.Application.Languages.ForeignExperienceNumber</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="six wide column">Official name</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.OfficialName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Faculty</td>
                        <td>
                            <p>@Model.Applicant.FacultyName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Department name</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.DepartmentName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Study programme</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.StudyProgramme</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Study cycle</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.LevelOfEducation</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Current term/year</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.CurrentTermOrYear</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Coordinator full name</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.CoordinatorFullName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Coordinator email</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.CoordinatorEmail</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Coordinator phone number</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.CoordinatorPhoneNum</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Coordinator address</td>
                        <td>
                            <p>@Model.Application.HomeInstitutions.CoordinatorAddress</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="five wide column">Medical info</td>
                        <td>
                            <p>@Model.Application.Others.MedicalInfo</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Additional requests</td>
                        <td>
                            <p>@Model.Application.Others.AdditionalRequests</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="seven wide column">Learning agreement</td>
                        <td>
                            Not uploaded yet.
                        </td>
                    </tr>
                    <tr>
                        <td>Curriculum vitae</td>
                        <td><p>Not uploaded yet.</p></td>
                    </tr>
                    <tr>
                        <td>English language proficiency</td>
                        <td><p>Not uploaded yet.</p></td>
                    </tr>
                    <tr>
                        <td>Transcript of records</td>
                        <td><p>Not uploaded yet.</p></td>
                    </tr>
                    <tr>
                        <td>Motivation letter</td>
                        <td><p>Not uploaded yet.</p></td>
                    </tr>
                    <tr>
                        <td>Reference letter</td>
                        <td><p>Not uploaded yet.</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
</body>

