@model IRO_UNMO.App.ViewModels.TimingVM
@{
    ViewData["Title"] = "";
    Layout = "_Layout5";
}
<p></p>
<h2 class="ui header">Dzemal Bijedic current application time</h2>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>
    <script type="text/javascript" src="~/dist/components/modal.js"></script>
    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
    <script type="text/javascript" src="~/dist/components/checkbox.js"></script>
    <script type="text/javascript" src="~/dist/components/dropdown.js"></script>

    <script type="text/javascript" src="~/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="~/dist/calendar.min.css" />

    <style>
        .ui.celled.table {
            width: 720px;
        }
    </style>
</head>
<body>
    <div class="ui small equal width form">
        <form asp-action="timing" method="post">
            <div class="ui compact segment">
                <h3>Timing</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.current.Semester">Semester</label>
                        @Html.DropDownListFor(model => model.current.Semester, Model.Semesters, new { required = "Please choose semester for specific offer" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.current.From">Date from</label>
                        <div class="ui calendar" id="passissue">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input asp-for="@Model.current.From" type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.current.To">Date to</label>
                        <div class="ui calendar" id="passexpiry">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input asp-for="@Model.current.To" type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="ui primary button">Save</button>
        </form>
    </div>
    @*<h2 class="ui header">Dzemal Bijedic current application time</h2>
        @foreach(var x in Model.Offers)
        {

        }*@
</body>
<script>
    $('#passissue').calendar({
        type: 'date'
    });

    $('#passexpiry').calendar({
        type: 'date'
    });

    var toggle = $('#toggle');
    var select = $('#selectLang');
    select.hide();

    toggle.on('click', (function () {
        if (toggle.prop('checked')) {
            select.show();
        }
        else if (toggle.prop('checked', false)) {
            select.hide();
        }
    }));
</script>