@model IRO_UNMO.App.ViewModels.NewsVM
@{
    Layout = "_Layout5";
}
<p></p>
<h2 class="ui header">Unread messages</h2>
<body>
    @foreach (var x in Model.Comments)
    {
        <div class="ui compact card">
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <div class="header">
                        @x.Applicant.ApplicationUser.Name @x.Applicant.ApplicationUser.Surname
                        @if (x.Applicant.UniversityId == 2)
                        {
                            <div class="subheader">Nomination nr. @x.IonId</div>
                        }
                        else
                        {
                            <div class="subheader">Application nr. @x.IonId</div>
                        }
                        <div class="subheader">@x.CommentTime.ToMyStrDMYYYY_HMM()</div>
                    </div>
                    @if (x.Applicant.UniversityId == 2)
                    {
                        <a asp-route-id="@x.IonId" asp-area="admin" asp-controller="nomination" asp-action="view">@x.Message</a>
                    }
                    else
                    {
                        <a asp-route-id="@x.IonId" asp-area="admin" asp-controller="application" asp-action="view">@x.Message</a>
                    }
                    <p></p>
                    <a class="ui green right flote label" asp-route-id="@x.CommentId" asp-area="admin" asp-controller="news" asp-action="seen">Mark as seen</a>
                </div>
            </div>
        </div>
    }
</body>