@using IRO_UNMO.App.ViewModels
@model IRO_UNMO.App.ViewModels.EditDocsVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_Layout5";
}
<h2 class="ui header">Welcome to documents upload page for Dzemal Bijedic University's application</h2>

<head>
    <script>
        var fileExtentionRange = '.zip .rar .tar .pdf .doc .docx .xls .xlsx .ppt .pptx';
        var MAX_SIZE = 30; // MB

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);

            if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
                var label = input.val();

                input.trigger('fileselect', [1, label, 0]);
            } else {
                var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                var numFiles = input.get(0).files ? input.get(0).files.length : 1;
                var size = input.get(0).files[0].size;

                input.trigger('fileselect', [numFiles, label, size]);
            }
        });

        $('.btn-file :file').on('fileselect', function (event, numFiles, label, size) {
            $('#attachmentName').attr('name', 'attachmentName'); // allow upload.

            var postfix = label.substr(label.lastIndexOf('.'));
            if (fileExtentionRange.indexOf(postfix.toLowerCase()) > -1) {
                if (size > 1024 * 1024 * MAX_SIZE) {
                    alert('max size：<strong>' + MAX_SIZE + '</strong> MB.');

                    $('#attachmentName').removeAttr('name'); // cancel upload file.
                } else {
                    $('#_attachmentName').val(label);
                }
            } else {
                alert('file type：<br/> <strong>' + fileExtentionRange + '</strong>');

                $('#attachmentName').removeAttr('name'); // cancel upload file.
            }
        });
    </script>
</head>
<body>
    <form asp-action="docs" method="post" enctype="multipart/form-data">
        <div class="ui compact segment">
            @Html.HiddenFor(x => x.ApplicationId)
            @Html.HiddenFor(x => x.DocumentsId)
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Documents uploaded by applicant
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="two wide column">
                            <i class="file pdf icon"></i>Learning agreement
                        </td>
                        @if (Model.Application.Documents.LearningAgreement != null)
                        {
                            <td class="collapsing">@Html.ActionLink(Model.Application.Documents.LearningAgreement, "download", new { fileName = Model.Application.Documents.LearningAgreement })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Curriculum vitae
                        </td>
                        @if (Model.Application.Documents.CV != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.CV, "download", new { fileName = Model.Application.Documents.CV })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>English proficiency
                        </td>
                        @if (Model.Application.Documents.EngProficiency != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.EngProficiency, "download", new { fileName = Model.Application.Documents.EngProficiency })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Transcript of records
                        </td>
                        @if (Model.Application.Documents.TranscriptOfRecords != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.TranscriptOfRecords, "download", new { fileName = Model.Application.Documents.TranscriptOfRecords })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Motivation letter
                        </td>
                        @if (Model.Application.Documents.MotivationLetter != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.MotivationLetter, "download", new { fileName = Model.Application.Documents.MotivationLetter })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Reference letter
                        </td>
                        @if (Model.Application.Documents.ReferenceLetter != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.ReferenceLetter, "download", new { fileName = Model.Application.Documents.ReferenceLetter })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                    </tr>
                </tbody>
            </table>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Warning!
            </div>
            <p>
                Please have in mind that all documents have to be uploaded in pdf, otherwise they won't be saved.
            </p>
        </div>
        <div class="ui compact segment">
            <table class="ui compact celled striped table compact">
                <thead>
                    <tr>
                        <th colspan="3">
                            Documents uploaded by hosting institution
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Learning agreement host
                        </td>
                        @if (Model.Application.Documents.LearningAgreementHost != null)
                        {
                            <td class="collapsing">@Html.ActionLink(Model.Application.Documents.LearningAgreementHost, "download", new { fileName = Model.Application.Documents.LearningAgreement })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                        <td class="collapsing">
                            <div class="field">
                                <label asp-for="@Model.Application.Documents.LearningAgreementHost" class="ui icon button">
                                    <input asp-for="@Model.LearningAgreementHost" type="file" class="custom-file-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Certificate of arrival
                        </td>
                        @if (Model.Application.Documents.CertificateOfArrival != null)
                        {
                            <td class="collapsing">@Html.ActionLink(Model.Application.Documents.CertificateOfArrival, "download", new { fileName = Model.Application.Documents.CertificateOfArrival })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                        <td class="collapsing">
                            <div class="field">
                                <label asp-for="@Model.Application.Documents.CertificateOfArrival" class="ui icon button">
                                    <input asp-for="@Model.CertificateOfArrival" type="file" class="custom-file-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Student transcript of records host institution
                        </td>
                        @if (Model.Application.Documents.StudentTranscriptOfRecords != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.StudentTranscriptOfRecords, "download", new { fileName = Model.Application.Documents.StudentTranscriptOfRecords })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                        <td>
                            <label asp-for="@Model.Application.Documents.StudentTranscriptOfRecords" class="ui icon button">
                                <input asp-for="@Model.StudentTranscriptOfRecords" type="file" class="custom-file-input">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Exchange student record sheet
                        </td>
                        @if (Model.Application.Documents.StudentRecordSheet != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.StudentRecordSheet, "download", new { fileName = Model.Application.Documents.StudentRecordSheet })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                        <td>
                            <div>
                                <label asp-for="@Model.Application.Documents.StudentRecordSheet" class="ui icon button">
                                    <input asp-for="@Model.StudentRecordSheet" type="file" class="custom-file-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="file pdf icon"></i>Certificate of departure
                        </td>
                        @if (Model.Application.Documents.CertificateOfDeparture != null)
                        {
                            <td>@Html.ActionLink(Model.Application.Documents.CertificateOfDeparture, "download", new { fileName = Model.Application.Documents.CertificateOfDeparture })</td>
                        }
                        else
                        {
                            <td>Not uploaded yet.</td>
                        }
                        <td>
                            <div>
                                <label asp-for="@Model.Application.Documents.CertificateOfDeparture" class="ui icon button">
                                    <input asp-for="@Model.CertificateOfDeparture" type="file" class="custom-file-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="ui primary button">Save</button>
        </div>
    </form>
    <script>
        $('.message .close')
            .on('click', function () {
                $(this).closest('.message').transition('fade');
            });
    </script>
</body>

