@using IRO_UNMO.App.ViewModels
@model IRO_UNMO.App.ViewModels.ViewAppVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "_Layout11";
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">
    <!--- Component JS -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/dist/semantic.min.js"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>*@

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>

    <!--- Show Names -->
    @*<script src="~/assets/show-examples.js"></script>*@
    <!--- Example Javascript -->
    <script>
        $(document).ready(function () {
            $('.ui.accordion').accordion();
        });
    </script>

    <script>
        var fileExtentionRange = '.zip .rar .tar .pdf .doc .docx .xls .xlsx .ppt .pptx';
        var MAX_SIZE = 30; // MB

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);

            if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
                var label = input.val();

                input.trigger('fileselect', [1, label, 0]);
            } else {
                var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                var numFiles = input.get(0).files ? input.get(0).files.length : 1;
                var size = input.get(0).files[0].size;

                input.trigger('fileselect', [numFiles, label, size]);
            }
        });

        $('.btn-file :file').on('fileselect', function (event, numFiles, label, size) {
            $('#attachmentName').attr('name', 'attachmentName'); // allow upload.

            var postfix = label.substr(label.lastIndexOf('.'));
            if (fileExtentionRange.indexOf(postfix.toLowerCase()) > -1) {
                if (size > 1024 * 1024 * MAX_SIZE) {
                    alert('max size：<strong>' + MAX_SIZE + '</strong> MB.');

                    $('#attachmentName').removeAttr('name'); // cancel upload file.
                } else {
                    $('#_attachmentName').val(label);
                }
            } else {
                alert('file type：<br/> <strong>' + fileExtentionRange + '</strong>');

                $('#attachmentName').removeAttr('name'); // cancel upload file.
            }
        });
    </script>
</head>
<body>
    @Html.HiddenFor(x => x.Applicant.ApplicantId)
    <div class="ui container">
        <h2 class="ui header">
            Application for the Dzemal Bijedic University
            <div class="sub header">Started: @Model.Application.CreatedApp</div>
        </h2>
        @if (Model.Application.StatusOfApplication == "Unknown")
        {
            <div class="ui label">Status: <div class="detail">@Model.Application.StatusOfApplication</div></div>
        }
        else if (Model.Application.StatusOfApplication == "Review - on hold" || Model.Application.StatusOfApplication == "Review - successful")
        {
            <div class="ui orange label">Status: <div class="detail">@Model.Application.StatusOfApplication</div></div>
        }
        else if (Model.Application.StatusOfApplication == "Enrolled")
        {
            <div class="ui green label">Status: <div class="detail">@Model.Application.StatusOfApplication</div></div>
        }
        else
        {
            <div class="ui red label">Status: <div class="detail">@Model.Application.StatusOfApplication</div></div>
        }
        <form class="ui compact segment" method="post">
            @Html.HiddenFor(x => x.Application.ApplicationId)
            <div class="ui small equal width form">
                <h5>Please select current status of nomination</h5>
                <div class="field">
                    @Html.DropDownListFor(model => model.Application.StatusOfApplication, Model.Statuses)
                </div>
                <button class="ui primary submit button" asp-controller="application" asp-action="status" asp-route-id="@Model.Application.ApplicationId">Save</button>
            </div>
        </form>
        <div class="ui styled accordion">
            <div class=" title">
                <i class="dropdown icon"></i>Applicant info
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="five wide column">Full name</td>
                            <td>@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</td>
                        </tr>
                        <tr>
                            <td>Account created</td>
                            <td>@Model.Applicant.CreatedProfile</td>
                        </tr>
                        <tr>
                            <td>Account verification</td>
                            <td>@Model.Applicant.Verified</td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td class="five wide column">Gender</td>
                            <td>@Model.Application.Infos.Gender</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>@Model.Application.Infos.DateOfBirth.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Place of birth</td>
                            <td>@Model.Application.Infos.PlaceOfBirth</td>
                        </tr>
                        <tr>
                            <td>Citizenship</td>
                            <td>@Model.Application.Infos.Citizenship.Name</td>
                        </tr>
                        <tr>
                            <td>Passport number</td>
                            <td>@Model.Application.Infos.PassportNumber</td>
                        </tr>
                        <tr>
                            <td>Passport issue date</td>
                            <td>@Model.Application.Infos.PassportIssueDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Passport expiry date</td>
                            <td>@Model.Application.Infos.PassportExpiryDate.ToShortDateString()</td>
                        </tr>
                    </tbody>
                </table>
                <a asp-action="edit" asp-route-id="@Model.Application.ApplicationId" class="ui primary button">Edit</a>
            </div>
            <div class=" title">
                <i class="dropdown icon"></i>Contact
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="five wide column">Email</td>
                            <td>
                                <p>@Model.Application.Contacts.Email</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Phone number</td>
                            <td>
                                <p>@Model.Application.Contacts.Telephone</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Street name</td>
                            <td>
                                <p>@Model.Application.Contacts.StreetName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>City, town, village</td>
                            <td>
                                <p>@Model.Application.Contacts.PlaceName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Postal code</td>
                            <td>
                                <p>@Model.Application.Contacts.PostalCode</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Country of residence</td>
                            <td>
                                <p>@Model.Application.Contacts.Country.Name</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" title">
                <i class="dropdown icon"></i>Languages
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="seven wide column">Native language</td>
                            <td>
                                <p>@Model.Application.Languages.Native</p>
                            </td>
                        </tr>
                        <tr>
                            <td>First foreign</td>
                            <td>
                                <p>@Model.Application.Languages.ForeignFirst | @Model.Application.Languages.ForeignFirstProficiency</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Second foreign</td>
                            <td>
                                <p>@Model.Application.Languages.ForeignSecond | @Model.Application.Languages.ForeignSecondProficiency</p>
                            </td>
                        </tr>
                        @if (Model.Application.Languages.ForeignThird != null)
                        {

                            <tr>
                                <td>Third foreign</td>
                                <td>
                                    <p>@Model.Application.Languages.ForeignThird | @Model.Application.Languages.ForeignThirdProficiency</p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>Number of foreign experiences</td>
                            <td>
                                <p>@Model.Application.Languages.ForeignExperienceNumber</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" title">
                <i class="dropdown icon"></i>Home institution
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="six wide column">Official name</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.OfficialName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Faculty</td>
                            <td>
                                <p>@Model.Applicant.FacultyName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Department name</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.DepartmentName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Study programme</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.StudyProgramme</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Study cycle</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.LevelOfEducation</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Current term/year</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.CurrentTermOrYear</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Coordinator full name</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.CoordinatorFullName</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Coordinator email</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.CoordinatorEmail</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Coordinator phone number</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.CoordinatorPhoneNum</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Coordinator address</td>
                            <td>
                                <p>@Model.Application.HomeInstitutions.CoordinatorAddress</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" title">
                <i class="dropdown icon"></i>Other
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="five wide column">Medical info</td>
                            <td>
                                <p>@Model.Application.Others.MedicalInfo</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Additional requests</td>
                            <td>
                                <p>@Model.Application.Others.AdditionalRequests</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>Documents
            </div>
            <div class="content">
                <table class="ui definition table">
                    <tbody>
                        <tr>
                            <td class="seven wide column">Learning agreement</td>
                            @if (Model.Application.Documents.LearningAgreement != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.LearningAgreement, "DownloadFile", new { fileName = Model.Application.Documents.LearningAgreement })
                                </td>
                            }
                            else
                            {
                                <td>
                                    Not uploaded yet.
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>Curriculum vitae</td>
                            @if (Model.Application.Documents.CV != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.CV, "DownloadFile", new { fileName = Model.Application.Documents.CV })
                                </td>
                            }
                            else
                            {
                                <td><p>Not uploaded yet.</p></td>
                            }
                        </tr>
                        <tr>
                            <td>English language proficiency</td>
                            @if (Model.Application.Documents.EngProficiency != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.EngProficiency, "DownloadFile", new { fileName = Model.Application.Documents.EngProficiency })
                                </td>
                            }
                            else
                            {
                                <td><p>Not uploaded yet.</p></td>
                            }
                        </tr>
                        <tr>
                            <td>Transcript of records</td>
                            @if (Model.Application.Documents.TranscriptOfRecords != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.TranscriptOfRecords, "DownloadFile", new { fileName = Model.Application.Documents.TranscriptOfRecords })
                                </td>
                            }
                            else
                            {
                                <td><p>Not uploaded yet.</p></td>
                            }
                        </tr>
                        <tr>
                            <td>Motivation letter</td>
                            @if (Model.Application.Documents.MotivationLetter != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.MotivationLetter, "DownloadFile", new { fileName = Model.Application.Documents.MotivationLetter })
                                </td>
                            }
                            else
                            {
                                <td><p>Not uploaded yet.</p></td>
                            }
                        </tr>
                        <tr>
                            <td>Reference letter</td>
                            @if (Model.Application.Documents.ReferenceLetter != null)
                            {
                                <td>
                                    @Html.ActionLink(Model.Application.Documents.ReferenceLetter, "DownloadFile", new { fileName = Model.Application.Documents.ReferenceLetter })
                                </td>
                            }
                            else
                            {
                                <td><p>Not uploaded yet.</p></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <a asp-action="docs" asp-route-id="@Model.Application.ApplicationId" class="ui primary button"><i class="file icon"></i>Edit documents</a>
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
    </div>
</body>

