@using IRO_UNMO.App.ViewModels
@model IRO_UNMO.App.ViewModels.EditAppVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "ApplicantLayout";
}
<head>
    <script type="text/javascript" src="~/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="~/dist/calendar.min.css" />
    <script type="text/javascript" src="~/dist/components/form.js"></script>
    <script type="text/javascript" src="~/dist/components/dropdown.js"></script>
    <script type="text/javascript" src="~/dist/components/dropdown.min.js"></script>
</head>
<h2 class="ui header">Welcome to edit page for Dzemal Bijedic University's application</h2>
<body>
    <div class="ui small equal width form">
        <form class="ui form" asp-action="edit" method="post">
            @Html.HiddenFor(x => x.ApplicationId)
            <div class="ui compact segment">
                <h3>Info section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.Citizenship.Name">Nationality</label>
                        <input asp-for="@Model.Application.Infos.Citizenship.Name" type="text" class="ui input" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.Gender">Gender</label>
                        @Html.DropDownListFor(model => model.Application.Infos.Gender, Model.Genders, new { @id = "gender", @Name = "gender", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PlaceOfBirth">Place of birth</label>
                        @Html.TextBoxFor(model => model.Application.Infos.PlaceOfBirth, new { @class = "ui input" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.DateOfBirth">Date of birth</label>
                        <div class="ui calendar" id="dateofbirth">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input asp-for="@Model.Application.Infos.DateOfBirth" type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportNumber">Passport number</label>
                        <input asp-for="@Model.Application.Infos.PassportNumber" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportIssueDate">Passport issue date</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" asp-for="@Model.Application.Infos.PassportIssueDate" placeholder="Start">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportExpiryDate">Passport expiry date</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" asp-for="@Model.Application.Infos.PassportExpiryDate" placeholder="End">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Contact section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Email">Email</label>
                        <input asp-for="@Model.Application.Contacts.Email" type="text" disabled class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Telephone">Telephone</label>
                        <input asp-for="@Model.Application.Contacts.Telephone" type="text" disabled class="ui input">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.StreetName">Street name</label>
                        <input asp-for="@Model.Application.Contacts.StreetName" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.PlaceName">City, town, village</label>
                        <input asp-for="@Model.Application.Contacts.PlaceName" type="text" class="ui input">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.PostalCode">Postal code</label>
                        <input asp-for="@Model.Application.Contacts.PostalCode" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Country">Country</label>
                        @Html.DropDownListFor(model => model.Application.Contacts.CountryId, Model.Countries, new { @id = "caddress", @Name = "caddress", @class = "ui dropdown" })
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Languages section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.Native">Native language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.Native, Model.Languages, new { @id = "nlangs", @Name = "nlangs", @class = "ui dropdown" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignExperienceNumber">Number of foreign experiences</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignExperienceNumber, Enumerable.Range(0, 6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "ui dropdown", required = "Please choose proficiency the number of your foreign experiences" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignFirst">First foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignFirst, Model.Languages, new { @id = "fflangs", @Name = "fflangs", @class = "ui dropdown" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignFirstProficiency">First choosed proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignFirstProficiency, Model.LangProfiency, new { @id = "ffplangs", @Name = "ffplangs", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignSecond">Second foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignSecond, Model.Languages, new { @id = "sflangs", @Name = "sflangs", @class = "ui dropdown" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignSecondProficiency">Second choosed proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignSecondProficiency, Model.LangProfiency, new { @id = "sfplangs", @Name = "sfplangs", @class = "ui dropdown" })
                    </div>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="public" id="toggle">
                    <label>Add one more language</label>
                </div>
                <p></p>
                <div class="fields" id="selectLang">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignThird">Third foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignThird, Model.Languages, new { @id = "tfplangs", @Name = "tflangs", @class = "ui dropdown" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignThirdProficiency">Third choosed proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignThirdProficiency, Model.LangProfiency, new { @id = "tfplangs", @Name = "tfplangs", @class = "ui dropdown" })
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Home institution section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.OfficialName">Offical university name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.OfficialName" type="text" class="ui input" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.LevelOfEducation">Study cycle</label>
                        <input asp-for="@Model.Application.HomeInstitutions.LevelOfEducation" type="text" class="ui input" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.StudyProgramme">Study programme name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.StudyProgramme" type="text" class="ui input" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.DepartmentName">Department / faculty / institute</label>
                        <input asp-for="@Model.Application.HomeInstitutions.DepartmentName" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CurrentTermOrYear">Current term</label>
                        @Html.DropDownListFor(model => model.Application.HomeInstitutions.CurrentTermOrYear, Model.StudyTerms, new { @id = "cterm", @Name = "cterm", @class = "ui dropdown" })
                    </div>
                </div>
                <h4>Coordinator info</h4>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorFullName">Coordinator full name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorFullName" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorPosition">Coordinator position</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorPosition" type="text" class="ui input">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorEmail">Coordinator email</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorEmail" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorPhoneNum">Coordinator phone number</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorPhoneNum" type="text" class="ui input">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorAddress">Coordinator address</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorAddress" type="text" class="ui input">
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Other section</h3>
                <div class="field">
                    <label asp-for="@Model.Application.Others.MedicalInfo">Medical info</label>
                    <textarea asp-for="@Model.Application.Others.MedicalInfo" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 90px; width: 600px;"></textarea>
                </div>
                <div class="field">
                    <label asp-for="@Model.Application.Others.AdditionalRequests">Additional requests</label>
                    <textarea asp-for="@Model.Application.Others.AdditionalRequests" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 90px; width: 600px;"></textarea>
                </div>
            </div>
            <button type="submit" class="ui primary button">Save</button>
            <div class="ui error message"></div>
        </form>
    </div>
    <script>
        $('.ui.dropdown').dropdown();

        $('.ui.form')
            .form({
                fields: {
                    gender: {
                        identifier: 'gender',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your gender'
                            },
                        ]
                    },
                    caddress: {
                        identifier: 'caddress',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select country of your address'
                            }
                        ]
                    },
                    cterm: {
                        identifier: 'cterm',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your current term of study'
                            }
                        ]
                    },
                    nlangs: {
                        identifier: 'nlangs',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your native language'
                            }
                        ]
                    },
                    fflangs: {
                        identifier: 'fflangs',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your first foreign language'
                            }
                        ]
                    },
                    ffplangs: {
                        identifier: 'ffplangs',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select proficiency of your selected first foreign language'
                            }
                        ]
                    },
                    sflangs: {
                        identifier: 'sflangs',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your second foreign language'
                            }
                        ]
                    },
                    sfplangs: {
                        identifier: 'sfplangs',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select proficiency of your selected second foreign language'
                            }
                        ]
                    },
                }
            });

        $('.message .close')
            .on('click', function () {
                $(this).closest('.message').transition('fade');
            });

        $('#dateofbirth').calendar({
            type: 'date'
        });

        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });

        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });

        var toggle = $('#toggle');
        var select = $('#selectLang');
        select.hide();

        toggle.on('click', (function () {
            if (toggle.prop('checked')) {
                select.show();
            }
            else if (toggle.prop('checked', false)) {
                select.hide();
            }
        }));
    </script>
</body>