@using IRO_UNMO.App.ViewModels
@model IRO_UNMO.App.ViewModels.EditAppVM
@using Microsoft.AspNetCore.Identity;
@{
    Layout = "ApplicantLayout";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">
    <!--- Component JS -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/dist/semantic.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>

    <script type="text/javascript" src="~/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="~/dist/calendar.min.css" />

</head>
<h2 class="ui header">Welcome to editing page for Dzemal Bijedic University's application</h2>
<body>
    <div class="ui small equal width form">
        <form asp-action="edit" method="post">
            @Html.HiddenFor(x => x.ApplicationId)
            <div class="ui compact segment">
                <h3>Info section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.Citizenship.Name">Nationality</label>
                        <input asp-for="@Model.Application.Infos.Citizenship.Name" type="text" class="form-control" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.Gender">Gender</label>
                        @Html.DropDownListFor(model => model.Application.Infos.Gender, Model.Genders, new { required = "Please choose your gender" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PlaceOfBirth">Place of birth</label>
                        @Html.TextBoxFor(model => model.Application.Infos.PlaceOfBirth, new { @class = "form-control" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.DateOfBirth">Date of birth</label>
                        <div class="ui calendar" id="dateofbirth">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input asp-for="@Model.Application.Infos.DateOfBirth" type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportNumber">Passport number</label>
                        <input asp-for="@Model.Application.Infos.PassportNumber" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportIssueDate">Passport issue date</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" asp-for="@Model.Application.Infos.PassportIssueDate" placeholder="Start">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Infos.PassportExpiryDate">Passport expiry date</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" asp-for="@Model.Application.Infos.PassportIssueDate" placeholder="End">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Contact section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Email">Email</label>
                        <input asp-for="@Model.Application.Contacts.Email" type="text" disabled class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Telephone">Telephone</label>
                        <input asp-for="@Model.Application.Contacts.Telephone" type="text" disabled class="form-control">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.StreetName">Street name</label>
                        <input asp-for="@Model.Application.Contacts.StreetName" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.PlaceName">City, town, village</label>
                        <input asp-for="@Model.Application.Contacts.PlaceName" type="text" class="form-control">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.PostalCode">Postal code</label>
                        <input asp-for="@Model.Application.Contacts.PostalCode" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Contacts.Country">Country</label>
                        @Html.DropDownListFor(model => model.Application.Contacts.CountryId, Model.Countries, new { required = "Please choose country of your address" })
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Languages section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.Native">Native language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.Native, Model.Languages, new { @class = "form-control", required = "Please choose native language" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignExperienceNumber">Number of foreign experiences (exchanges and c.o.)</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignExperienceNumber, Enumerable.Range(0, 6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", required = "Please choose proficiency the number of your foreign experiences" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignFirst">First foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignFirst, Model.Languages, new { @class = "form-control", required = "Please choose first foreign language" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignFirstProficiency">First foreign language proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignFirstProficiency, Model.LangProfiency, new { @class = "form-control", required = "Please choose proficiency of your first chosen foreign language" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignSecond">Second foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignSecond, Model.Languages, new { @class = "form-control", required = "Please choose second foreign language" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignSecondProficiency">Second foreign language proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignSecondProficiency, Model.LangProfiency, new { @class = "form-control", required = "Please choose proficiency of your second chosen foreign language" })
                    </div>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="public" id="toggle">
                    <label>Add one more language</label>
                </div>
                <p></p>
                <div class="fields" id="selectLang">
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignThird">Third foreign language</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignThird, Model.Languages)
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.Languages.ForeignThirdProficiency">Third foreign language proficiency</label>
                        @Html.DropDownListFor(model => model.Application.Languages.ForeignThirdProficiency, Model.LangProfiency)
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Home institution section</h3>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.OfficialName">Offical university name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.OfficialName" type="text" class="form-control" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.LevelOfEducation">Study cycle</label>
                        <input asp-for="@Model.Application.HomeInstitutions.LevelOfEducation" type="text" class="form-control" disabled>
                        @*@Html.DropDownListFor(model => model.Application.HomeInstitutions.LevelOfEducation, Model.StudyCycles, new { @class = "form-control", required = "Please select your study cycle" })*@
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.StudyProgramme">Study programme name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.StudyProgramme" type="text" class="field" disabled>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.DepartmentName">Department / faculty / institute</label>
                        <input asp-for="@Model.Application.HomeInstitutions.DepartmentName" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CurrentTermOrYear">Current term</label>
                        @Html.DropDownListFor(model => model.Application.HomeInstitutions.CurrentTermOrYear, Model.StudyTerms, new { @class = "form-control", required = "Please select your study term" })
                    </div>
                </div>
                <h4>Coordinator info</h4>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorFullName">Coordinator full name</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorFullName" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorPosition">Coordinator position</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorPosition" type="text" class="form-control">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorEmail">Coordinator email</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorEmail" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorPhoneNum">Coordinator phone number</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorPhoneNum" type="text" class="form-control">
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Application.HomeInstitutions.CoordinatorAddress">Coordinator address</label>
                        <input asp-for="@Model.Application.HomeInstitutions.CoordinatorAddress" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="ui compact segment">
                <h3>Other section</h3>
                <div class="field">
                    <label asp-for="@Model.Application.Others.MedicalInfo">Medical info</label>
                    <textarea asp-for="@Model.Application.Others.MedicalInfo" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 90px; width: 600px;"></textarea>
                </div>
                <div class="field">
                    <label asp-for="@Model.Application.Others.AdditionalRequests">Additional requests</label>
                    <textarea asp-for="@Model.Application.Others.AdditionalRequests" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 90px; width: 600px;"></textarea>
                </div>
            </div>
            <button type="submit" class="ui primary button">Save</button>
        </form>
    </div>
    <script>
        $('#dateofbirth').calendar({
            type: 'date'
        });
        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });

        var toggle = $('#toggle');
        var select = $('#selectLang');
        select.hide();

        toggle.on('click', (function () {
            if (toggle.prop('checked')) {
                select.show();
            }
            else if (toggle.prop('checked', false)) {
                select.hide();
            }
        }));

    </script>
</body>

