@model IRO_UNMO.App.ViewModels.PartnersVM
@{
    ViewData["Title"] = "";
    Layout = "_Layout5";
}
<script src="~/js/ajax.js"></script>
<p></p>
<h2 class="ui header">Dzemal Bijedic university partners</h2>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>
    <script src="~/js/ajax.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
    <script type="text/javascript" src="~/dist/components/modal.js"></script>

    <style>
        .ui.celled.table {
            width: 720px;
        }
    </style>
</head>
<body>
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var x in Model.Universities)
        {
            <tbody>
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Code</td>
                    <td>@x.Country.Name</td>
                    <td>
                        <a asp-controller="partners" asp-action="partner" asp-route-id="@x.UniversityId" class="ui basic primary button">Edit</a>
                        <a asp-action="delete" asp-controller="partners" class="ui right floated basic red button" asp-route-id="@x.UniversityId" id="test">Delete</a>
                        @*<div class="ui modal test">
                            <i class="close icon"></i>
                            <div class="ui small header">
                                Are you sure you want to delete selected university?
                                You will delete all offers for it.
                            </div>
                            <div class="actions">
                                <div class="ui black deny button">
                                    No
                                </div>
                                <a asp-action="delete" asp-controller="partners" class="ui right floated red button" asp-route-id="@x.UniversityId" id="test"><i class="checkmark icon"></i>Yes, delete this offer.</a>
                            </div>
                        </div>*@
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <a asp-controller="partners" asp-action="partner" class="ui basic green button">Add</a>
</body>
@*<script>
    $(function () {
        $("#test").click(function () {
            $(".test").modal('show');
        });

        $(".test").modal({
            closable: true
        });
    });
</script>*@