@model IRO_UNMO.App.ViewModels.PartnersVM
@{
    ViewData["Title"] = "";
    Layout = "_Layout5";
}
<p></p>
<h2 class="ui header">Dzemal Bijedic university partners</h2>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

    <script src="~/assets/library/jquery.min.js"></script>
    <script src="~/assets/library/iframe-content.js"></script>

    <script type="text/javascript" src="~/dist/components/popup.js"></script>
    <script type="text/javascript" src="~/dist/components/transition.js"></script>
    <script type="text/javascript" src="~/dist/components/accordion.js"></script>
    <script type="text/javascript" src="~/dist/components/modal.js"></script>
    <style>
        .ui.celled.table {
            width: 720px;
        }
    </style>
</head>
<body>
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var x in Model.Universities)
        {
            <tbody>
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Code</td>
                    <td>@x.Country.Name</td>
                    <td>
                        <a asp-controller="partners" asp-action="partner" asp-route-id="@x.UniversityId" class="ui basic primary button">Edit</a>
                        <button asp-action="delete" asp-controller="partners" asp-route-id="@x.UniversityId" class="ui basic red button" id="test">Delete</button>
                        <div class="ui modal test">
                            <i class="close icon"></i>
                            <div class="ui small header">
                                Are you sure you want to delete selected university partner?
                                @*You will delete all history of university.*@
                            </div>
                            <div class="actions">
                                <div class="ui black deny button">
                                    No
                                </div>
                                <a asp-action="delete" asp-controller="partners" asp-route-id="@x.UniversityId" class="ui red button"><i class="eye"></i>Delete</a>
                            </div>
                        </div>
                        @*<button asp-controller="partners" asp-action="partner" class="ui basic primary button" id="test" data-id="@x.UniversityId">Edit</button>
                            <div class="ui modal test">
                                <div class="header">Editing university partner</div>
                                <div class="modal dialog">
                                    <div class="ui small equal width form">
                                        <div class="ui segment">
                                            <form asp-area="admin" asp-controller="partners" asp-action="partner" method="post" id="theform" data-id="@x.UniversityId">
                                                @Html.HiddenFor(a => a.UniversityId)
                                                <div class="fields">
                                                    <div class="field">
                                                        <label asp-for="@x.Name">Name</label>
                                                        <input asp-for="@x.Name" type="text" class="form-control">
                                                    </div>
                                                    <div class="field">
                                                        <label asp-for="@x.Code">Code</label>
                                                        <input asp-for="@x.Code" type="text" class="form-control">
                                                    </div>
                                                    <div class="field">
                                                        <label asp-for="@x.CountryId">Country</label>
                                                        @Html.DropDownListFor(model => x.CountryId, Model.Countries, new { required = "Please choose your country" })
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions">
                                    <input type="submit" form="theform" class="ui primary button" value="Save" id="id" data-id="@x.UniversityId">
                                </div>
                            </div>*@
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <a asp-controller="partners" asp-action="partner" class="ui basic green button">Add</a>
</body>
<script>
    $(function () {
        $("#test").click(function () {
            $(".test").modal('show');
        });

        $(".test").modal({
            closable: true
        });
    });
</script>