@model IRO_UNMO.App.Areas.Admin.ViewModels.EditPartnersVMa
@{
    ViewData["Title"] = "";
    Layout = "AdminLayout";
    var ID = ViewBag.ID;
}

<head>
    <script type="text/javascript" src="~/dist/components/form.js"></script>
    <script type="text/javascript" src="~/dist/components/dropdown.js"></script>
    <script type="text/javascript" src="~/dist/components/dropdown.min.js"></script>
    <style>
        .ui.compact.segment {
            width: 850px;
        }
    </style>
</head>
<body>
    @if (Model.University == null)
    {
        <h2 class="ui header">Add university partner</h2>
    }

    else if (Model != null)
    {
        <h2 class="ui header">Edit university partner</h2>
    }
    <div class="ui small equal width form">
        <form class="ui form" asp-area="admin" asp-controller="partners" asp-action="partner" method="post">
            @Html.HiddenFor(a => a.UniversityId)
            <div class="ui compact segment">
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.University.Name">Name</label>
                        <input asp-for="@Model.University.Name" type="text" class="ui input" name="University.Name" />
                    </div>
                    <div class="field">
                        <label asp-for="@Model.University.Code">Code</label>
                        <input asp-for="@Model.University.Code" type="text" class="ui input" name="University.Code" />
                    </div>
                    <div class="field">
                        <label asp-for="@Model.University.Country">Country</label>
                        @Html.DropDownListFor(model => model.University.CountryId, Model.Countries, new { @id = "uniCountry", @Name = "uniCountry", @class = "ui dropdown" })
                    </div>
                </div>
            </div>
            <button type="submit" class="ui primary button">Save</button>
            <div class="ui error message"></div>
        </form>
    </div>
    <script>
        $('.ui.dropdown').dropdown();

        $('.ui.form')
            .form({
                fields: {
                    uniName: {
                        identifier: 'University.Name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter the university name'
                            }
                        ]
                    },
                    uniCode: {
                        identifier: 'University.Code',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter the university code (preferably Erasmus code)'
                            }
                        ]
                    },
                    uniCountry: {
                        identifier: 'uniCountry',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please select your country of the university partner'
                            }
                        ]
                    },
                }
            });
    </script>
</body>
