@model IRO_UNMO.App.ViewModels.ApplicantsVM
@{
    ViewData["Title"] = "";
    Layout = "AdminLayout";
}
<body>
    <h2 class="ui header">Incoming applicants</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Full name</th>
                <th>University</th>
                <th>Created profile</th>
                <th>Verified</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var x in Model.IApplicants)
        {
            <tbody>
                <tr>
                    <td>@x.ApplicationUser.Name @x.ApplicationUser.Surname</td>
                    <td>@x.University.Name</td>
                    <td>@x.CreatedProfile.ToMyStrDMYYYY_HMM()</td>
                    @if (x.Verified)
                    {
                        <td><div class="ui green large horizontal label">@x.Verified</div></td>
                    }
                    else
                    {
                        <td><div class="ui red large horizontal label">@x.Verified</div></td>
                    }
                    <td>
                        <a asp-action="review" asp-controller="applicants" asp-route-id="@x.ApplicantId" class="ui primary button">Review</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>

    <h2 class="ui header">Outgoing applicants</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Faculty</th>
                <th>University</th>
                <th>Created profile</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var x in Model.OApplicants)
        {
            <tbody>
                <tr>
                    <td>@x.ApplicationUser.Name @x.ApplicationUser.Surname</td>
                    <td>@x.FacultyName</td>
                    <td>@x.University.Name</td>
                    <td>@x.CreatedProfile.ToMyStrDMYYYY_HMM()</td>
                    <td><a asp-action="review" asp-controller="applicants" asp-route-id="@x.ApplicantId" class="ui primary button">Review</a></td>
                </tr>
            </tbody>
        }
    </table>
</body>