@model IRO_UNMO.App.ViewModels.ProfileVM
@{
    ViewData["Title"] = "";
    Layout = "_Layout5";
}

<head>
    @*<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!--- Site CSS -->
        <link rel="stylesheet" type="text/css" href="~/dist/components/reset.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/site.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/grid.css">
        <!--- Component CSS -->
        <link rel="stylesheet" type="text/css" href="~/dist/components/icon.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/table.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/button.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/transition.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/popup.css">
        <link rel="stylesheet" type="text/css" href="~/dist/components/accordion.css">

        <script src="~/assets/library/jquery.min.js"></script>
        <script src="~/assets/library/jquery.js"></script>
        <script src="~/assets/library/iframe-content.js"></script>

        <script type="text/javascript" src="~/dist/components/popup.js"></script>
        <script type="text/javascript" src="~/dist/components/transition.js"></script>
        <script type="text/javascript" src="~/dist/components/modal.js"></script>
        <script type="text/javascript" src="~/dist/components/accordion.js"></script>
        <script type="text/javascript" src="~/dist/components/dropdown.js"></script>

        <script type="text/javascript" src="~/dist/calendar.min.js"></script>
        <link rel="stylesheet" href="~/dist/calendar.min.css" />*@
</head>
<body>
    @Html.HiddenFor(x => x.Applicant.ApplicantId)
    @if (Model.Applicant.UniversityId != 2)
    {
        <div style='height: 410px; width: 500px'>
            <table class="ui small definition table">
                <tbody>
                    <tr>
                        <td class="five wide column">Full name</td>
                        <td class="align right">@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Model.Applicant.ApplicationUser.Email</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>@Model.Applicant.ApplicationUser.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>@Model.Applicant.ApplicationUser.Country.Name</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>@Model.Applicant.University.Name</td>
                    </tr>
                    <tr>
                        <td>Study field</td>
                        <td>@Model.Applicant.StudyField</td>
                    </tr>
                    <tr>
                        <td>Study cycle</td>
                        <td>@Model.Applicant.StudyCycle</td>
                    </tr>
                    <tr>
                        <td>Student/staff</td>
                        <td>@Model.Applicant.TypeOfApplication</td>
                    </tr>
                    <tr>
                        <td>Account created</td>
                        <td>@Model.Applicant.CreatedProfile</td>
                    </tr>
                    @if (Model.Applicant.Verified)
                    {
                        <tr>
                            <td> Account verification </td>
                            <td>
                                <button asp-action="verified" asp-controller="applicants" class="ui basic green button" asp-route-id="@Model.Applicant.ApplicantId" id="test">Verified</button>
                                <div class="ui modal test">
                                    <i class="close icon"></i>
                                    <div class="ui small header">
                                        Are you sure you want to unverify the selected applicant?
                                        You will delete all of his application info.
                                    </div>
                                    <div class="actions">
                                        <div class="ui black deny button">
                                            No
                                        </div>
                                        <a asp-action="verified" asp-controller="applicants" class="ui negative button" asp-route-id="@Model.Applicant.ApplicantId"><i class="checkmark icon"></i>Yes, unverify this applicant.</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    else if (Model.Applicant.Verified == false)
                    {
                        <tr>
                            <td>Account verification</td>
                            <td>
                                <button asp-action="unverified" asp-controller="applicants" class="ui basic red button" asp-route-id="@Model.Applicant.ApplicantId" id="test">Unverified</button>
                                <div class="ui modal test">
                                    <i class="close icon"></i>
                                    <div class="ui small header">
                                        Are you sure you want to verify the selected applicant?
                                    </div>
                                    <div class="actions">
                                        <div class="ui black deny button">
                                            Nope
                                        </div>
                                        <a asp-action="unverified" asp-controller="applicants" class="ui positive button" asp-route-id="@Model.Applicant.ApplicantId"><i class="checkmark icon"></i>Yes, verify this applicant.</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ui raised result segment">
            <div class="ui three column stackable grid">
                <div class="four wide column">
                    <p>Dzemal Bijedic University of Mostar</p>
                    <div>
                        <div class="ui divider"></div>
                        <p>Available for applicants from:</p>
                        <div class="ui computer tablet only">
                            <a><img src="https://img.cdn.dreamapply.com/eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJkcmVhbS1hcHBseSIsImF1ZCI6ImRyZWFtLWltYWdlIiwicGxkIjp7InBhdGgiOiJkcmVhbS1hcHBseTpzaGFyZDMzOFwvaW5zdGl0dXRpb25fbG9nb3NcLzEzMTAub241c2hjIiwidHJhbnNmb3JtYXRpb25zIjpbeyJuYW1lIjoiZml0IiwicGFyYW1zIjp7IndpZHRoIjoiMTIwIiwiaGVpZ2h0IjoiNDIiLCJxdWFsaXR5IjoiOTUiLCJleHRlbmQiOiIyNTUsMjU1LDI1NSJ9fV0sImNhY2hlIjoibWF4LWFnZT0zMTUzNjAwMCwgcHVibGljIiwib3V0cHV0X2Zvcm1hdCI6InNhbWUiLCJzZGtfdmVyc2lvbiI6IjEuMCJ9fQ.Fhbl7nvMffj-cF9WhCHsYKmYSYOemJDRduIf-2Yohco__jXRaWR5_88LN2_-gc7IOHQMH3Jp36Q3dB3q5t8knWVWRdiIQim0PFrMRzZyyoQ_guY9G4EgHdmAMNL9kkNsPriDAVP71qzVXcXdVg-s8-fJqBOc_ovcgiaVaHOSgRVByhSPud_q1-HJ8mF7EURKBUy1yupsSR8CIHMYxqtUT4Ce-EaSgsVu1ttYrNgJ6ALmr0ZK0VCmpuYP1WRONd1nN1TVzHrQHn_8yhTDCjMlIVSWB72jtFIxXWNoEiO20lGc9K5W9Q-YQ6H00_JsGxOSL_apnDv42A9NGLrgk0_zsA" /></a>
                        </div>
                        <div>
                            <i class="ui university icon mobile only"></i>
                            <a>@Model.Applicant.University.Name</a>
                        </div>

                        <small class="ui computer tablet only">@Model.Applicant.University.Country.Name</small>
                    </div>
                    <div class="ui mobile only divider"></div>
                </div>
                <div class="seven wide column" style="padding-bottom: 3em">
                    <a>Incoming mobility (1 semester)</a>
                    @if (Model.Applicant.Verified && Model.Application != null)
                    {
                        <p>Information</p>
                        <div class="ui tiny list">
                            <div class="item">
                                <i class="top aligned folder large icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Created
                                    </div>
                                    <div class="description">
                                        @Model.Application.CreatedApp
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="top aligned university large icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Last change
                                    </div>
                                    <div class="description"><span>@Model.Application.LastEdited<span class="grayed"> Europe/Mostar time</span></span></div>
                                </div>
                            </div>
                            @if (Model.Application.Finished)
                            {
                                <div class="item">
                                    <i class="top aligned checkmark large icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            Submitted
                                        </div>
                                        <div class="description"><span>@Model.Application.FinishedTime<span class="grayed"> Europe/Mostar time</span></span></div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>Information</p>
                        <div class="ui tiny list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        Application created
                                    </div>
                                    <div class="description">
                                        Not yet
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="five wide apply column">
                    <div class="ui very relaxed list">
                        <div class="item">
                            @Html.HiddenFor(x => x.Applicant.ApplicationUser)
                            @if (Model.Applicant.Verified == true && Model.Application == null && (Model.Timing.From >= DateTime.Now || Model.Timing.To <= DateTime.Now))
                            {
                                <button type="submit" class="ui small fluid primary icon button disabled">It is not application period</button>
                            }
                            else if (Model.Applicant.Verified == true && Model.Application == null && (Model.Timing.From <= DateTime.Now || Model.Timing.To >= DateTime.Now))
                            {
                                <button type="submit" class="ui small fluid primary icon button disabled">It is possible to create application.</button>
                            }
                            else if (Model.Applicant.Verified == false && Model.Application == null)
                            {
                                <button type="submit" class="ui small fluid primary icon disabled button">Verification needed</button>
                            }
                            else if (Model.Applicant.Verified == true && Model.Application != null)
                            {
                                <a asp-action="view" asp-controller="application" asp-route-id="@Model.Application.ApplicationId" class="ui basic black button"><i class="eye"></i>View complete application</a>
                            }
                        </div>
                    </div>
                    <div class="ui tiny list">
                        <div class="item">
                            <i class="top aligned university large icon"></i>
                            <div class="content">
                                <div class="header">
                                    Application start
                                </div>
                                <div class="description">
                                    @Model.Timing.From.ToShortDateString()
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="top aligned university large icon"></i>
                            <div class="content">
                                <div class="header">
                                    Application deadline
                                </div>
                                <div class="description"><span>@Model.Timing.To.ToShortDateString()</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id='container' style='height:325px;width:500px'>
            <table class="ui small definition table">
                <tbody>
                    <tr>
                        <td class="five wide column">Full name</td>
                        <td class="align right">@Model.Applicant.ApplicationUser.Name @Model.Applicant.ApplicationUser.Surname</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Model.Applicant.ApplicationUser.Email</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>@Model.Applicant.ApplicationUser.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>@Model.Applicant.ApplicationUser.Country.Name</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>@Model.Applicant.University.Name</td>
                    </tr>
                    <tr>
                        <td>Faculty</td>
                        <td>@Model.Applicant.FacultyName</td>
                    </tr>
                    <tr>
                        <td>Student/staff</td>
                        <td>@Model.Applicant.TypeOfApplication</td>
                    </tr>
                    <tr>
                        <td>Account created</td>
                        <td>@Model.Applicant.CreatedProfile</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>
        <p></p>
        <p></p>
        @if (Model.Nominations.Count != 0)
        {
            <div class="ui cards">
                @foreach (var x in Model.Nominations)
                {
                    <div class="ui card nom">
                        <div class="content">
                            <div class="header">
                                <h4>@x.Offer.University.Name</h4>
                            </div>
                            @if (x != null)
                            {
                            <div class="meta">
                                <p></p>
                                <p>Created: @x.CreatedNom</p>
                                <p></p>
                                <p>Last change: @x.LastEdited</p>
                                <p></p>
                                <p>Status: @x.StatusOfNomination </p>
                                <p></p>
                                @if (x.Finished)
                                {
                                    <div class="ui green label">
                                        Submitted: @x.Finished
                                    </div>
                                }
                                else
                                {
                                    <div class="ui red label">
                                        Submitted: @x.Finished
                                    </div>
                                }
                                <p></p>
                                <div class="ui light red label">Application deadline: <div class="detail">@x.Offer.End.ToShortDateString()</div></div>
                                <p></p>
                                @if (x.Finished)
                                {
                                    <a asp-action="view" asp-controller="nomination" asp-route-id="@x.NominationId" class="ui secondary basic button"><i class="eye"></i>Review nomination</a>
                                }
                                else
                                {
                                    <a asp-action="view" asp-controller="nomination" asp-route-id="@x.NominationId" class="ui secondary basic disabled button"><i class="eye"></i>Review nomination</a>
                                }

                            </div>
                            }
                            else
                            {
                                <p>Applicant didn't create any nomination yet.</p>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="ui compact segment">
                <h4>
                    No nominations created.
                </h4>
            </div>
        }
    }
</body>
<script>
    $(function () {
        $("#test").click(function () {
            $(".test").modal('show');
        });

        $(".test").modal({
            closable: true
        });
    });
</script>