@model IRO_UNMO.App.Areas.Admin.ViewModels.EditOffersVM
@{
    Layout = "_Layout5";
    var ID = ViewBag.ID;
}

<head>
    <script type="text/javascript" src="~/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="~/dist/calendar.min.css" />
    <style>
        .ui.compact.segment {
            width: 850px;
        }
    </style>
</head>
<body>
    @if (Model.Offer == null)
    {
        <h2 class="ui header">Add offer</h2>
    }

    else if (Model != null)
    {
        <h2 class="ui header">Edit offer</h2>
    }
    <div class="ui small equal width form">
        <form asp-area="admin" asp-controller="offers" asp-action="offer" method="post">
            @Html.HiddenFor(a => a.Offer.OfferId)
            <div class="ui compact segment">
                <div class="fields">
                    <div class="field">
                        <label>Date from</label>
                        @if (Model.Offer == null)
                        {
                            <div class="ui calendar" id="rangestart">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" asp-for="@Model.Offer.Start" placeholder="Start">
                                </div>
                            </div>
                        }
                        else if (Model.Offer != null)
                        {
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" value="@Model.Offer.Start.ToMyStrDMYYYY()" disabled />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="field">
                        <label>Date to</label>
                        @if (Model.Offer == null)
                        {
                            <div class="ui calendar" id="rangeend">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" asp-for="@Model.Offer.End" placeholder="End">
                                </div>
                            </div>
                        }
                        else if (Model.Offer != null)
                        {
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" value="@Model.Offer.End.ToMyStrDMYYYY()" disabled>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Offer.Semester">Semester</label>
                        @Html.DropDownListFor(model => model.Offer.Semester, Model.Semesters, new { required = "Please choose semester for specific offer" })
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Offer.University">University</label>
                        @Html.DropDownListFor(model => model.Offer.UniversityId, Model.Universities, new { required = "Please choose university for specific offer" })
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Offer.Cycles">Study cycles</label>
                        @if (Model.Offer != null)
                        {
                            <input asp-for="@Model.Offer.Cycles" disabled /><p></p>
                        }
                        <select asp-for="@Model.Offer.LCycles" asp-items="@Model.Cycles" multiple="" class="ui dropdown">
                            <option value="">Please choose new study cycles</option>
                        </select>
                    </div>
                    <div class="field">
                        <label asp-for="@Model.Offer.Programmes">Study programmes</label>
                        @if (Model.Offer != null)
                        {
                            <input asp-for="@Model.Offer.Programmes" disabled /><p></p>
                        }
                        <select asp-for="@Model.Offer.LProgrammes" asp-items="@Model.Programmes" multiple="" class="ui dropdown">
                            <option value="">Please choose new study programmes</option>
                        </select>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="@Model.Offer.Info">Additional info</label>
                        <input asp-for="@Model.Offer.Info" type="text">
                    </div>
                </div>
            </div>
            @if (Model.Offer == null)
            {
                <button type="submit" class="ui positive button">Save</button>
            }
            else if (Model.Offer != null)
            {
                <div class="ui buttons">
                    <button type="submit" class="ui positive button">Save</button>
                    <div class="or"></div>
                    <button asp-controller="offers" asp-action="delete" asp-route-id="@Model.Offer.OfferId" class="ui button">Delete</button>
                </div>
            }
        </form>
    </div>
    @if (Model.Offer != null && Model.Nominations.Count != 0)
    {
        <h2 class="ui header">Nominations for the offer</h2>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Faculty name</th>
                    <th>Created nomination</th>
                    <th>Submitted</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var x in Model.Nominations)
            {
                <tbody>
                    <tr>
                        <td>@x.Applicant.ApplicationUser.Name @x.Applicant.ApplicationUser.Surname</td>
                        <td>@x.Applicant.FacultyName</td>
                        <td>@x.CreatedNom</td>
                        <td>@x.Finished</td>
                        <td>
                            <a asp-action="view" asp-controller="nomination" asp-route-id="@x.NominationId" class="ui primary button">Review</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    <script>
        $(function () {
            $('.ui.dropdown').dropdown();
        });

        $('#passissue').calendar({
            type: 'date'
        });

        $('#passexpiry').calendar({
            type: 'date'
        });

        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });

        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
    </script>
</body>
